.weather-app-wrapper {
  width: 400px;
  margin: 30px auto;
  font-family: arial;
}

.weather-app {
  padding: 30px;
  border: solid 1px grey;
  border-radius: 10px;
  font-family: arial;
  color: rgb(237, 238, 250);
  letter-spacing: 0.5mm;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1 {
  color: rgb(248, 107, 12);
  padding-top: 20px;
  padding-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  padding-top: 20px;
  font-size: 50px;
  padding-bottom: 15px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 26px;
  text-transform: capitalize;
  font-style: italic;
}

a {
  text-decoration: none;
  color: rgb(248, 107, 12);
}

.active {
  color: rgb(237, 238, 250);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: rgb(237, 238, 250);
}

header {
  border: 1px solid rgb(209, 209, 209);
  padding-left: 30px;
  max-width: 515px;
  border-radius: 10px;
  font-size: 16px;
}

.link {
  text-align: center;
}
