.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-family: arial;
}

.weather-app {
  padding: 40px;
  border: solid 1px grey;
  border-radius: 10px;
  font-family: arial;
  color: rgb(237, 238, 250);
  letter-spacing: 0.5mm;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1 {
  padding-top: 20px;
  padding-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h2 {
  padding-top: 20px;
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 28px;
  text-transform: capitalize;
}

button {
  margin-top: 25px;
  border-radius: 6px;
  padding: 4px 40px 4px 40px;
  box-shadow: none;
  border: none;
  color: red;
}

.fas.fa-cloud.today {
  font-size: 80px;
  color: #330867;
}

a {
  text-decoration: none;
}

.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
